@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

h1 {
    color: rgb(80, 75, 75);
    display: flex;
    /* border: 1px solid blue; */
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
}

h1 img {
    width: 40px;
}

span {
    font-family: 'Bebas Neue', cursive;
    font-size: 8px;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-left: 150px;
}

nav a {
    text-decoration: none;
    /* border: 1px solid purple; */
    color: gray;
    margin-right: 10px;
    padding-right: 10px;
}

main {
    height: 300px;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    /* border: 1px solid black; */
    background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgb(49, 132, 200) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%)
}

main img {
    float: right;
    width: 350px;
    margin-top: 50px;
    margin-right: 100px;
}


main h2 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 100;
    color: white;
    margin-left: 60px;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

main p {
    width: 40%;
    margin-top: 20px;
    margin-right: 20% auto;
    margin-left: 80px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 100;
    color: white;
}

main button {
    display: flex;
    height: 25px;
    width: 100px;
    margin-top: 30px;
    margin-left: 330px;
    padding: 5px 5px;
    padding-left: 10px;
    color: white;
    background-color: black;
    opacity: 0.5;
}

footer {
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid black; */
    
}

footer p {
    font-family: 'Bebas Neue', cursive;
    font-weight: 100;
    text-align: center;
    color: grey;
    width: 65%;
    margin-left: 15%;
    margin-top: 20px;
    
}
section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    /* border: 1px solid purple;  */
  
}

article {
    /* border: 1px solid green; */
}

.um {
    font-family: 'Bebas Neue', cursive;
    font-weight: 100;
    text-align: center;
    background-color: rgb(73, 171, 216);
    color: white;
    padding: 10px;
}

.dois {
    font-family: 'Bebas Neue', cursive;
    font-weight: 100;
    text-align: center;
    background-color: rgba(135, 224, 2, 0.89);
    color: white;
    padding: 10px;   
}

.tres {
    font-family: 'Bebas Neue', cursive;
    font-weight: 100;
    text-align: center;
    background-color: rgba(238, 160, 15, 0.774);
    color: white;
    padding: 10px;   
}

i {
    font-size: 20px;
    padding: 5px;
}







